.message {
    display: flex;
    flex-direction: column;
    background: var(--bg-message);
    padding: 5px 10px;
    width: 20%;
    min-width: 200px;
    margin: 10px 5px;
    border-radius: 5px;
    &-bot {
        align-self: flex-start;
    }
    &-user {
        align-self: flex-end;
    }
    &__text {
        color: var(--white);
        word-break: break-all;
    }
    &__time {
        text-align: right;
        color: var(--color-message-time);
    }
}
