.app-nav-bar {
    width: 15%;
    background: rgba(5, 65, 130, 0.8);
    margin: 0 2px 0 0;
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__title {
        border-bottom: 1px solid #fff;
        color: #fff;
        width: 100%;
        display: block;
        padding: 10px 0 10px 5px;
    }
}
