.dialog {
    background: #00152c;
    width: 85%;
    overflow-x: auto;
    &-footer {
        width: 85%;
        bottom: 0;
        position: fixed;
        display: flex;
        align-items: center;
        &__input {
            width: 100%;
            height: 30px;
            outline: none;
            padding: 0 0 0 5px;
        }
        &__btn {
            position: absolute;
            right: 0px;
            height: 100%;
            padding: 0px 10px;
            background-color: var(--bg-btn);
            border: 0px;
            color: #fff;
            cursor: pointer;
            &:active {
                background-color: var(--bg-btn-input-active);
            }
        }
    }
}
