.chat-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    padding: 10px 5px;
    &:hover {
        background-color: rgba(5, 65, 130, 0.673);
        .chat-item__btn {
            display: block;
        }
    }
    &_selected {
        background-color: rgba(5, 65, 130, 0.673);
    }
    &__title {
        color: #fff;
    }
    &__btn {
        display: none;
        height: 100%;
        padding: 0px 10px;
        background-color: #0028a299;
        border: 0px;
        color: #fff;
        cursor: pointer;
        &:active {
            background-color: #0028a23f;
        }
    }
}
